body{
	padding-left: 5rem;
	padding-right: 5rem;
	background:#222222;
}

.center {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	position:absolute;
	top: 48%;
	left: 48%;
	transform: translate(-48%, -48%);
	background: none;
}

.center p {	
	color: white;
	text-size: 28px;
	text-align: center;
	font-weight: bold;
}

#login1 {
	margin-right:34px;
}

#login2 {
	margin-right:20px;
}

#sig1{
	margin-right: 55px;
}
#sig2{
	margin-right: 40px;
}
#sig3{
	margin-right: 5px;
}

#txt {
	color: white;
	font-size: 35px;
	font-weight: bold;
	border-bottom: 3px solid white;
	padding: 0px 5px 0px 5px;
}
