body {
	padding-left:15%;
	padding-right:6vmin;
	padding-top: 3%;
}

.list {
	margin-top: 1rem;
	background: #222222;
	color: white;
	width: 80%;
}

.list p,
.list h1 {
	display:inline;
}

.list h1 {
	margin-right: 0;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.list a {
	color: white;
	margin-left: 1.5%;
	text-decoration: none;
}

.list a:hover {
	color: skyblue;
	text-decoration: none;
}

.list p {
	margin-left: 10px;
	margin-top: 2rem;
	font-size:25px;
}

#content {
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;

	width: 77%;
	height: 80px;
	
	font-size: 25px;
	margin-left: 1rem;
	
	padding-top: 0.2rem;
}

#tag {
	display: inline-block;
	font-size: 22px;
	margin-left: 1%;
	color: #BAB7B7;
}
